:root {
    // font variables
    --font-family-main: consolas, 'Times New Roman', serif;
    --font-size-m: 16px;
    --font-size-l: 24px;
    --font-line-m: 24px;
    --font-line-l: 32px;
    --font-l: var(--font-size-l) / var(--font-line-l) var(--font-family-main);
    --font-m: var(--font-size-m) / var(--font-line-m) var(--font-family-main);

    // elements size variables
    --havbar-height: 50px;
    --content-height: calc(100vh - var(--havbar-height));
    --sidebar-width: 300px;
    --sidebar-collapsed-width: 80px;
}
