.Sidebar {
    position: relative;
    width: var(--sidebar-width);
    height: var(--content-height);
    transition: width 0.3s ease-in-out;
    background-color: var(--inverted-bg-color);
}

.collapsed {
    width: var(--sidebar-collapsed-width);
}

.switchers {
    position: absolute;
    bottom: 10px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
