.app.dark {
    --bg-color: rgb(31, 7, 103);
    --inverted-bg-color: rgb(203, 202, 204);

    --primary-color: rgb(15, 228, 79);
    --inverted-primary-color: rgb(51, 15, 228);

    --secondary-color: rgb(50, 119, 18);
    --inverted-secondary-color: rgb(42, 18, 119);
}